#nav {
    position: absolute;
    top: 10px;
}

#nav a {
    color: black;
    text-decoration: none;

}
#nav li {
    list-style: none;
    display: inline;
    border-style: solid;
    padding: 20px;
    background-color: yellowgreen;
    border-color: yellow;
    border-radius: 15px;
}

body {
	margin: 0 auto;
    background-color: orange;
    font-family: sans-serif;
    width: 800px;
}

.content{
	position:relative;
	left: 120px;
}

#header{
	position:relative;
	top:60px;
	height: 160px;
	font-family: serif;
}

.burningchair{
	float:left;
	margin-right: 15px;
	
}

.footer{
	font-size: small;
	text-align: center;
	margin: 0 auto;
	width: 500px;
}

.register input, .login input{
	width:250px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.register li, .login li{
	list-style: none;
}
.register label, .login label{
	padding-right: 10px;
	margin-top: 5px;
	position: relative;
	width: 100px;
	float: left;
}

#btnregister, #btnlogin{
	position: relative;
	margin-left: 40px;
	width: 100px;
	
}

#error, .userexists {
	
	font-weight: bold;
	color: red;
	
}

.success {
	position: fixed;
	top: 20px;
	width: 200px;
	height: 80px;
	text-align: center;
	vertical-align: center;
	background-color: #77EF1A;
	display: none;
	font-weight: bold;
	color: green;
}

.commenter{
	text-decoration: none;
	color:green;
	font-weight: bold;
}



