.nav {
    text-align: left;
    border: 2px;
    float: right;
}

.content{
	margin: 0 auto;
	width: 800px;
}

.footer{
	font-size: small;
}

.register input, .login input{
	width:250px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.register li, .login li{
	list-style: none;
}
.register label, .login label{
	padding-right: 10px;
	margin-top: 5px;
	position: relative;
	width: 80px;
	float: left;
}

#btnregister, #btnlogin{
	position: relative;
	margin-left: 40px;
	width: 100px;
	
}

#error, .userexists {
	
	font-weight: bold;
	color: red;
	
}

.success {
	position: fixed;
	top: 20px;
	width: 200px;
	height: 80px;
	text-align: center;
	vertical-align: center;
	background-color: #77EF1A;
	display: none;
	font-weight: bold;
	color: green;
}



