/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


.nav {
    text-align: left;
    border: 2px;
    float: right;
}

.footer{
	font-size: small;
}

.register input, .login input{
	width:250px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.register li, .login li{
	list-style: none;
}
.register label, .login label{
	padding-right: 10px;
	margin-top: 5px;
	position: relative;
	width: 80px;
	float: left;
}

#btnregister, #btnlogin{
	position: relative;
	margin-left: 40px;
	width: 100px;
	
}

#error, .userexists {
	
	font-weight: bold;
	color: red;
	
}



