/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


.nav {
    text-align: left;
    border: 2px;
    float: right;
}

.footer{
	font-size: small;
}

.register input{
	width:250px;
}

.register li{
	list-style: none;
}
.register label{
	padding-right: 10px;
}

#error {
	
	font-weight: bold;
	color: red;
	
}

